
<div class="answer-container">
  <h1>Coach answer</h1>
  <div class="question">
    <h2>this was your question </h2>
  <p><%= @question %></p>
  </div>
  <div class="answer">
    <h2>and this is the coach answer</h2>
  <p><%= @answer %></p>
  </div>
  <div class="again">
  <%= link_to "ask another question >", root_path %>
  </div>
</div>
